/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light

NEW COLORS,
https://coolors.co/fcf5c7-ffee93-ffc09f-ce84ad-725ac1
#FFC09F - peach
#FCF5C7 - lemon chiffon
https://coolors.co/8be800-6290c3-c2e7da-f1ffe7-1a1b41
#C2E7DA - columbia blue


*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.projects img {
  width: 300px;
}
a {
  color: #0366d6;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 40px;
}
h1, h2 {
  font-family: 'Molle', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #F1FFE7;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background: #FFC09F;
  color: #343434;
}

.btn {
  color: #F7FFF7;
  background: #0366d6;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}



/* Projects
------------------------------------*/
.projects {
  background: #FCF5C7;
}
.projects a {
  color: ##0366d6;
}
.projects .btn {
  color: #F7FFF7;
  background: ##0366d6;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #C2E7DA;
}



/* Education
------------------------------------*/
.education {
  background-image: url(https://i.imgur.com/rgsv7jg.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}


/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  margin-left: -27px;
}
.contact-list a {
  padding: 15px 25px;
  display: inline-block;
}

/* Work Experience List
------------------------------------*/
nav {
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}


/* Footer
------------------------------------*/

footer {
  padding-bottom: 40px;
}

footer li {
  float: left;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer li a:hover {
  background-color: #111;
}

/* My Hobbies Styles
------------------------------------*/

.hobbies {
  background: #9BD6EB;
  overflow: hidden;
  padding-bottom: 60px;
}

.column {
  overflow: visible;
  width: 33%;
  float: left;
  padding: 0 8px;
}

.column img {
  border-radius: 8px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.column img:hover {
  transition: 300ms;
  box-shadow: 0px 8px 16px rgba(16, 35, 63, 0.25);
}
